:root {
  color-scheme: light dark;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


h1 {
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 700;
  margin: 2rem 0 2rem 0;
  text-align: center;
}


/* NAVBAR */
nav {
  background-color: #2D404E;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.menu-btn {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 4rem;
  margin: 0 auto;
}

.nav-links button {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.nav-links button:hover {
  text-decoration: underline;
}

/* CONTENIDO */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  display: none;
  animation: fade 0.5s ease-in-out;
}

section.active {
  display: block;
  padding: 0.5rem;
}
pre {
  background: #272822;
  color: #f8f8f2;
  padding: 10px;
  overflow-x: auto;
  white-space: pre-wrap;
}
.container-demo {
  display: flex;
  background-color: #eee;
  margin: 10px 0;
  padding: 10px;
}
.box-demo {
  background: #3498db;
  color: white;
  padding: 20px;
  margin: 5px;
  text-align: center;
}
label {
  font-weight: bold;
}
textarea {
  font-family: monospace;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.examplebox {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #444;
    display: none;
    gap: 1rem;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links button {
    padding: 1rem;
    border-top: 1px solid #555;
    width: 100%;
    text-align: left;
  }
}

.examplebox ul{
  padding: 1rem;
}